.wrapper {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 60px;
    background-color: #333333;
}

.nav .wrapper {
    height: 60px;
}

.nav .wrapper ul {
    height: 100%;
    float: right;

}

.nav .wrapper li {
    float: right;
    line-height: 60px;
}
.nav .wrapper li:first-child a {
    border-right: none;
}

.nav .wrapper a {
    text-decoration: none;
    padding: 0 20px;
    border-right: 2px solid #666;
    font-size: 18px;
    color: #dcdcdc;
}

.nav .wrapper .logo {
    float: left;
    width: 300px;
    height: 100%;
    background-image: url(../images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    border-right: none;
}

.footer {
    height: 52px;
    background-color: #333333;
}

.code-block {
    padding: 2px 5px;
    border: 1px solid rgba(0,0,0,0.3);
    color: #e74c37;
    font-family: monospace;
    font-size: 14px;
}


