<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About | COSMOS Sub-project</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<!--This is navigation bar-->
<div class="nav">
  <div class="wrapper">
    <a class="logo" th:href="@{/}"></a>
    <ul>
      <li><a th:href="@{/demo}">Real-time Demo</a></li>
      <li><a th:href="@{/resource}">Resource</a></li>
      <li><a th:href="@{/documentation}">Documentation</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li><a th:href="@{/}">Home</a></li>
    </ul>
  </div>
</div>

</body>
</html>