<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo | COSMOS Sub-project</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/demo.css">
</head>
<body>

<!--This is navigation bar-->
<div th:replace="index.html::#top-nav"></div>

<div class="left-nav">
    <div class="nav-main">
        <ul>
            <li>
                <a href="#result-record">Detection & Tracking</a>
                <ul>
                    <li><a href="#result-record">Recorded Videos</a></li>
                    <li><a href="#result-realtime">Real-time Saved Results</a></li>
                    <li><a href="http://128.59.66.94:4321" target="_blank">Real-time Live Stream</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/integration}">Integration</a>
                <ul>
                    <li><a th:href="@{/integration}">2nd-floor and 12th-floor</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>


<div class="demo-body wrapper">
    <div class="section">
        <a class="anchor" id="result-record"></a>
        <h2>Detection and Tracking Result of Recorded Videos</h2>
        <div>
            <table>
                <tr>
                    <td></td>
                    <td><span class="tb-content">Raw Video</span></td>
                    <td><span class="tb-content">Output Video</span></td>
                </tr>
                <tr>
                    <td><span class="tb-content">Amsterdam Ave.</span></td>
                    <td><img src="/images/demo/05_01.gif" alt="" width="400px"></td>
                    <td><img src="/images/demo/05_01_out.gif" alt="" width="400px"></td>
                </tr>
                <tr>
                    <td><span class="tb-content">120th St.</span></td>
                    <td><img src="/images/demo/05_02.gif" alt="" width="400px"></td>
                    <td><img src="/images/demo/05_02_out.gif" alt="" width="400px"></td>
                </tr>
            </table>
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div>
    </div>

    <div class="section">
        <a class="anchor" id="result-realtime"></a>
        <h2>Detection and Tracking Result of Real-time Stream -- Saved Files</h2>
        <div>
            <table>
                <tr>
                    <td></td>
                    <td><span class="tb-content">Input Real-time Stream</span></td>
                    <td><span class="tb-content">Output Video</span></td>
                </tr>
                <tr>
                    <td><span class="tb-content">Amsterdam Ave.</span></td>
                    <td><img src="/images/demo/05_03.gif" alt="" width="400px"></td>
                    <td><img src="/images/demo/05_03_out.gif" alt="" width="400px"></td>
                </tr>
                <tr>
                    <td><span class="tb-content">120th St.</span></td>
                    <td><img src="/images/demo/05_04.gif" alt="" width="400px"></td>
                    <td><img src="/images/demo/05_04_out.gif" alt="" width="400px"></td>
                </tr>
            </table>
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div>
    </div>

</div>


</body>
</html>