<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home | COSMOS Sub-project</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>


<body>

<!--This is navigation bar-->
<div id="top-nav" class="nav">
  <div class="wrapper">
    <a class="logo" th:href="@{/}"></a>
    <ul>
      <li><a th:href="@{/demo}">Demo</a></li>
      <li><a th:href="@{/resource}">Resource</a></li>
      <li><a th:href="@{/documentation}">Documentation</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li><a th:href="@{/}">Home</a></li>
    </ul>
  </div>
</div>

<!--Project Overview-->
<div class="proj-title wrapper">
  <div class="proj-name">Real-time Object Detection and Tracking Based on Nvidia DeepStream</div>
  <div class="proj-subtitle">Sub-Project of COSMOS Smart Intersections</div>
</div>

<div class="slideshow-container wrapper">
  <div class="slide fade">
    <a th:href="@{/demo}">
    <img src="/images/index/home_01.png" alt=""/>
    <div class="img-caption">
      <h4>Real-time Detection Application</h4>
      <p>A Python Application based on Nvidia DeepStream to realize real-time object detection and tracking. The model
        achieves 0.82 AP for vehicle detection, 0.51 AP for pedestrian detection, and 0.67 mAP. The application is able
        to run 14 frames-per-second on our Linux server with a single Nvidia Titan X GPU. </p>
    </div>
    </a>
  </div>

  <div class="slide fade">
    <a th:href="@{/documentation#calibration-install}">
    <img src="/images/index/home_02.png" alt=""/>
    <div class="img-caption">
      <h4>Customized GStreamer Plugin</h4>
      <p>The frame pre-processing C++ GStreamer plugin to improve detection accuracy. It performs perspective
        transformation and background subtraction. It is necessary to align the raw RTSP video stream and the training
        set.</p>
    </div>
    </a>
  </div>

  <div class="slide fade">
    <img src="/images/index/home_03.png" alt=""/>
    <div class="img-caption">
      <h4>Integration with 2nd-floor Cameras</h4>
      <p>Integrate the results obtained from both a bird’s eye view and street-level perspective cameras. It is supposed
        to provide more precise traffic and pedestrian-related information compared to using only a single view.
      </p>
    </div>
  </div>
</div>

<div class="slide-tool wrapper">
  <div class="btn-container">
    <button class="btn" onclick="plusDivs(-1)">&#10094;</button>
    <button class="btn" onclick="plusDivs(1)">&#10095;</button>
  </div>

  <div class="player-container">
    <div id="btn-play" class="player-text">
      <button id="btn-play-body" class="player" onclick="startShow()">PLAY</button>
    </div>
    <div id="btn-stop" class="player-text">
      <button id="btn-stop-body" class="player" onclick="stopShow()">STOP</button>
    </div>
  </div>

  <div class="slide-dot-container">
    <div class="slide-dot" onclick="showDivs(1)"></div>
    <div class="slide-dot" onclick="showDivs(2)"></div>
    <div class="slide-dot" onclick="showDivs(3)"></div>
  </div>
</div>

</body>

<script>
    let slideIndex = 1;

    // showSlides();
    let playerId;
    startShow();

    function autoShow() {
        showDivs(slideIndex);
        slideIndex++;
        playerId = setTimeout(autoShow, 5000); // Change image every 5 seconds
    }

    function startShow() {
        document.getElementById("btn-play").style.display = "none";
        document.getElementById("btn-stop").style.display = "block";
        document.getElementById("btn-stop-body").style.width = "100px";
        autoShow();
    }

    function stopShow() {
        document.getElementById("btn-play").style.display = "block";
        document.getElementById("btn-stop").style.display = "none";
        document.getElementById("btn-play-body").style.width = "100px";
        clearTimeout(playerId);
    }

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        let i;
        let slides = document.getElementsByClassName("slide");
        let dots = document.getElementsByClassName("slide-dot");

        if (n > slides.length) {
            slideIndex = 1;
        } else if (n < 1) {
            slideIndex = slides.length;
        } else {
            slideIndex = n;
        }

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dots[i].className = dots[i].className.replace(" active", "");
        }


        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
</html>