<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | COSMOS Sub-project</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>


<body>

<!--This is navigation bar-->
<div class="nav">
  <div class="wrapper">
    <div class="logo"></div>
    <ul>
      <li><a href="#">Real-time Demo</a></li>
      <li><a href="#">Resource</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Home</a></li>
    </ul>
  </div>
</div>

<!--Project Overview-->
<div class="proj-title wrapper">
  <div class="proj-name">Real-time Object Detection and Tracking Based on Nvidia DeepStream</div>
  <div class="proj-subtitle">Sub-Project of COSMOS Smart Intersections</div>
</div>

</body>
</html>